



.navbar-collapse{
background-color: #202020;
color: #bbbbbb;

}

#mobileForm {
background-color: #202020;
color: #bbbbbb;
padding-top: 10px;
}


.btn-block {
color: 	#fcfcfc; 
border-radius: 15px;
background-color: #dd1515;
border-color: #dd1515;
}

.btn-block:hover {
color: #dd1515;
background-color: #bbbbbb;
border-color: #bbbbbb;
}

.glyphicon-menu-left {
padding-right: 5px;
}


footer {
background-color: #202020;

}

footer a {
color: #bbbbbb;
text-decoration: none;
}

footer a:hover {
color: #bbbbbb;
}
