nav .navbar-brand {
    padding: 0;
    margin: 0;
    display: block;
    line-height: 50px;
    width: 60px;
    height: 50px;
    text-align: center;
}

.navbar-brand > img {
    display: inline;
}

.icon_with_number {
    margin: 0;
    padding: 0;
    height: 2em !important;
    width: 2em !important;
    line-height: 2em !important;
    text-align: center;
    border-radius: 1em;
    color: white;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGO6UAQAAhsBRcwUOXgAAAAASUVORK5CYII=');
}

/* Copypaste from github, just to keep it nicer */
.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

.leaflet-container {  /* all maps */
    width: 100%;
}
.right_block {
    width: 100%;
}

@media screen and (max-width: 10000px) {
    .leaflet-container {
        height: 700px;
    }
}
@media screen and (max-width: 1000px) {
    .leaflet-container {
        height: 500px;
    }
}
@media screen and (max-width: 600px) {
    .leaflet-container {
        height: 300px;
    }
}
h5 {
    padding: 1em;
    margin: 1em;
}

#language_selector {
    padding-top: 13px;
}

#claim_template_global {
    display: none;
}