[program:ctracker]
command = /home/mk/corruption_tracker/deploy/gunicorn_start                        ; Command to start app
user = mk                                                                          ; User to run as
stdout_logfile = /home/mk/corruption_tracker/deploy/logs/gunicorn_supervisor.log   ; Where to write log messages
redirect_stderr = true                                                             ; Save stderr in the same log
environment=LANG=en_US.UTF-8,LC_ALL=en_US.UTF-8                                    ; Set UTF-8 as default encoding