#!/bin/bash

NAME="ctracker"                                  # Name of the application
DJANGODIR=/home/mk/corruption_tracker
SOCKFILE=/home/mk/corruption_tracker/deploy/run/gunicorn.sock  # we will communicte using this unix socket

USER=mk
GROUP=mk

NUM_WORKERS=3                                     # how many worker processes should Gunicorn spawn
DJANGO_SETTINGS_MODULE=corruption_tracker.settings             # which settings file should Django use
DJANGO_WSGI_MODULE=corruption_tracker.wsgi                     # WSGI module name

# Activate the virtual environment
# echo $ENVDIR
# source $ENVDIR
source /home/mk/envs/ctracker/bin/activate
cd $DJANGODIR
export DJANGO_SETTINGS_MODULE=$DJANGO_SETTINGS_MODULE
export PYTHONPATH=$DJANGODIR:$PYTHONPATH

# Create the run directory if it doesn't exist
RUNDIR=$(dirname $SOCKFILE)
test -d $RUNDIR || mkdir -p $RUNDIR

# Start your Django Unicorn
# Programs meant to be run under supervisor should not daemonize themselves (do not use --daemon)
exec /home/mk/envs/ctracker/bin/gunicorn ${DJANGO_WSGI_MODULE}:application \
  --name $NAME \
  --workers $NUM_WORKERS \
  --user=$USER \
  --group=$GROUP \
  --bind=unix:$SOCKFILE \
  --log-level=debug \
  --log-file=-
  # --preload