{% extends "base.html" %}
{% block map %}
<div class="container">
    <div class="col-md-8">
        <h3>Система усунення корупційної активності.</h3>

        <p>Наша ініціативна група має на меті залучення громадян до боротьби з корупцією на різних рівнях і збільшення впливу суспільства на корупційну активність посадовців.
        Важливим чинником у цьому є прозорість, можливість передачі даних про конкретні випадки корупційних вчинків. Публічність та ефект суспільного тиску сприятимуть зменшенню корупційної активності. Важливим також є зворотній зв’язок, який виникатиме з боку посадовців у разі їх поінформованості про існування Системи.</p>
        <p>Система складається з двох частин - репрезентативна частина (Мапа корупції) і оперативна частина - мобільний Додаток.</p>


            Цільова аудиторія Додатку:</br>

            <ul>
            <li>всі небайдужі та прогресивні громадяни з чіткою громадянською позицією та принциповим несприйняттям корупції (громадські активісти, студенти, працівники ІТ сфери і т. д.);</li>

            <li>громадяни, які примусово або за власною ініціативою прийняли участь в акті корупції, але вирішили анонімно повідомити про корупційні дії;</li>

            <li>організовані групи корупціофобів, які здійснюють зкоординовані дії з метою розширення статистичної виборки або виявлення трендів в існуючих виборках.</li>
            </ul>
        


            Цільова аудиторія Мапи корупції:</br>
            <ul>
            <li>усі мешканці, які зможуть порівняти корумпованість функціонально однакових держустанов і обрати меньш корумповану;</li>

            <li>всілякі структури, які мають можливість або обов’язок боротися з корупційною діяльністю;</li>

            <li>держслужбовці, журналісти, соціологи тощо, які зможуть використовувати узагальнені репрезентативні можливості Мапи корупції.</li>
            </ul>      

    </div>
</div>

{% endblock %}