{% extends "base.html" %}
{% block map %}
<div class="container">
    <div class="col-md-8">
        <h3>Подолати корупцію в один клік.</h3>
        <p>Кожен громадянин України має важелі впливу на корупційну діяльність. Це - особиста відповідальність та публічність.</p>
        <p>Відповідальність спонукає зробити вибір підтримувати чи не підтримувати корупцію. А публічність нівелює прояви корупції, якщо вибір було зроблено на користь її подолання.</p>
        <p>Питання стоїть лише за інструментом, який поєднає особисте прагнення здолати корупцію в Україні з максимальним розголосом актів корупційної діяльності.</p>
        <p>Система є таким інструментом. Основний акцент у ній зроблено на можливості зафіксувати корупційну діяльність на місці її вчинення. Далі акцент зміщується у публічну сферу. Розголос набуває форми структурованої мапи корупції.</p>
        <p>Так, Система є найпростішим способом вести облік корупційної активності. А універсальність її даних відкриває можливість боротьби з корупцією на всіх рівнях: від рівня особистого невдоволення до рівня громадянського суспільства чи законодавчих ініціатив.</p>
        <p>А потрібно лише зробити один клік "Повідомити".</p>
        <br>
        <h3>Проекту потрібні</h3>
            <ul>
            <li>Javascript UI Developer</li>
            <li>Mobile Developer (iOS, Android)</li>
            <li>Та інші.</li>            
            </ul>
        <h3>Долучится до розробки можна</h3>
            <ul>
            <li>на GitHup => <a href='https://github.com/autogestion/corruption_tracker' target="_blank">Corruption tracker</a></li>
            <li>у Facebook спільноті => <a href='https://www.facebook.com/activecorruptiontracking/' target="_blank">Система учёта коррупционной активности</a></li>
           </ul>
  

    </div>
</div>

{% endblock %}