{% extends "base.html" %}
{% block map %}
<div class="container">
    <div class="col-md-8">
        <h3>Система усунення корупційної активності.</h3>
        <ol type="1">
            <li>Мобільний додаток (Додаток).</br>

            <p>Мобільний додаток є індивідуальною і анонімною за бажанням мобільною частиною Системи, інстальованою на мобільний пристрій. За допомогою Додатку здійснюється фіксація випадків корупції на місці вчинення корупційної діяльності (районні та міські адміністрації, лікарні, відділи міліції, ЖКГ тощо). Додаток має бути максимально лаконічним і дозволяти зафіксувати корупцію без докладання зусиль.</p>

            <p>Для користувача Додаток представлятиме собою (невізуалізовану) мапу з об’єктами (полігони будівель держустанов) і кнопкою «Зафіксувати корупцію». Також необхідно забезпечити користувачу Додатку можливість зафіксувати деталі корупційного випадку (установу, П. І. Б. корупціонера, посаду, фото, аудіо тощо) шляхом заповнення довільних полів таблиці атрибутів. Після натиснення кнопки «Зафіксувати корупцію» Додаток надсилає на Мапу корупції запис з координтатми випадку корупціїї або ID полігона держустанови і додаткової інформації, занесеної в таблицю атрибутів.</p>

            Цільова аудиторія Додатку:</br>

            <ul>
            <li>всі небайдужі та прогресивні громадяни з чіткою громадянською позицією та принциповим несприйняттям корупції (громадські активісти, студенти, працівники ІТ сфери і т. д.);</li>

            <li>громадяни, які примусово або за власною ініціативою прийняли участь в акті корупції, але вирішили анонімно повідомити про корупційні дії;</li>

            <li>організовані групи корупціофобів, які здійснюють зкоординовані дії з метою розширення статистичної виборки або виявлення трендів в існуючих виборках.</li>
            </ul>

            </li>
            <li>Мапа корупції є публічною серверною частиною Системи, яка включає репрезентативну мапу з полігонами будівель держустанов і візуалізацію корупційної активності (розміщення, якісні характеристики і зв'язки місць та фактів корупційної діяльності). Також необхідно додати можливість користувачу Мапи корупції деталізувати дані по конкретній держустанові, посаді, особі тощо.</br>

            Цільова аудиторія Мапи корупції:</br>
            <ul>
            <li>усі мешканці, які зможуть порівняти корумпованість функціонально однакових держустанов і обрати меньш корумповану;</li>

            <li>всілякі структури, які мають можливість або обов’язок боротися з корупційною діяльністю;</li>

            <li>держслужбовці, журналісти, соціологи тощо, які зможуть використовувати узагальнені репрезентативні можливості Мапи корупції.</li>
            </ul></li>
            <li>Основні поняття.</br>

            Корупція – системне або адресне некоректне фунціонування держустанов.</br>

            Державна (муніципальна) інфраструктура – це комплекс систем та нормативних баз, який забезпечує організацію взаємодії, функціонування та розвитку суспільства.</br>
            </li>
            <li>Мета проекта.</br>
            <ul>
            <li>надати можливість користувачам Додатку оперативно фіксувати прояви корупції на всіх рівнях функціонування державної або муніципальної інфраструктури;</li>

            <li>зробити публічною інформацію про корупцію на всіх рівнях функціонування державної інфраструктури за допомогою Мапи корупції.</li>
            </ul></li>
            <li>Локалізація проекту. Українська, англійська та російська мови.</li>
        </ol>
    </div>
</div>

{% endblock %}