{% extends "base.html" %}
{% load staticfiles %}
{% load leaflet_tags %}

{% block head %}
    <title>Corruption map</title>
    {% leaflet_js %}  
    {% leaflet_css %}<!-- 
    <script src="http:///rawgithub.com/domoritz/leaflet-locatecontrol/gh-pages/dist/L.Control.Locate.min.js"</script>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="http:///rawgithub.com/domoritz/leaflet-locatecontrol/gh-pages/dist/L.Control.Locate.min.css" rel="stylesheet"> -->
    <script src="{% static "js/jquery-1.11.3.min.js" %}"></script>
    <script src="{% static "js/jquery.cookie.js" %}"></script>
{% endblock %}

{% block map %}
<style>
    .leaflet-container {  /* all maps */
        width:  1200px;
        height: 700px;
        float: left;
        margin-right: 5px;        
    }

    #specialbigmap {
        height: 800px;
    }

    .right_block {
        float: right;  
        margin-right: 300px;
   }

</style> 
    {% leaflet_map "main" callback="main_map_init" %}

    <script type="text/javascript">
        function main_map_init (map, options) {          
           
                // Add GeoJSON layer
                L.geoJson({{buildings}}).addTo(map);
                // // create location control and add to map
                // lc = L.control.locate({
                //         follow: true,
                //         strings: {
                //             title: "подпись"
                //         }
                //     }).addTo(map);
                //  // request location update and set location
                // lc.locate();
                          
                        }
    </script>


<div class="right_block">

<form role="form" id='claim_form'>
{% csrf_token %}
  <div class="form-group">
    <label for="polygon_id">Polygon ID:</label>
    <input type="text" class="form-control" id="polygon_id">
  </div>
  <div class="form-group">
    <label for="claim_text">Текст скарги:</label>
    <input type="text" class="form-control" id="claim_text">
  </div>
  <button type="submit" class="btn btn-primary">Вiдправити скаргу</button>
</form>

<div id='message'></div>
</div>



 <script type="text/javascript">
   $(document).ready(function() {

        var csrftoken = $.cookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });


       $("#claim_form").submit(function(event){
       event.preventDefault();
            $.ajax({
                 type:"POST",
                 url:"{% url 'add_claim' %}",
                 data: {
                        'polygon_id': $('#polygon_id').val() ,
                        'claim_text': $('#claim_text').val() 
                        },
                 success: function(data){
                     $('#message').html("<h2>Скаргу додано!</h2>") 
                    }
            });
            return false;
       });

    });
</script>



{% endblock %}