{% extends "base.html" %}
{% load staticfiles %}
{% load leaflet_tags %}

{% block head %}
    <title>Corruption map</title>
    {% leaflet_js %}  
    {% leaflet_css %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}

{% block map %}
{% load i18n %}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            {% leaflet_map "main" callback="main_map_init" %}
        </div>
        <div class="col-md-4" id="float_block">
            <h3>
                {% trans "Add claim" %}
                <small><br>{% trans "To add claim please click on building on the map, or enter organization name in searchbox 'Organization', name of servant and describe what was wrong. After it press 'Send claim' button." %}</small>
            </h3>

            <div class="right_block">
                <div id="processing">Processing...</div>
                <form role="form" id='claim_form'>
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="organization_name">{% trans "Organization" %}:</label>                  
                        <input type="text" class="form-control" id="organization_name" placeholder='{% trans "Organization name" %}'>
                    </div>
                    <div class="form-group">
                        <label for="org_id">{% trans "Organization ID" %}:</label>
                        <div id='org_id_error'></div>
                        <input type="text" class="form-control" id="org_id" name="org_id" readonly>
                    </div>
                    <div class="form-group">
                        <label for="servant">{% trans "Servant name" %}:</label>
                        <input type="text" class="form-control" id="servant" name="servant" required>
                    </div>
                    <div class="form-group">
                        <label for="claim_text">{% trans "Claim message" %}:</label>
                        <div id='claim_text_error'></div>
                        <textarea type="text" class="form-control" id="claim_text" name="claim_text" required></textarea>
                    </div>

                    {% if user.is_authenticated %}
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="anonymously"> {% trans "Keep me anonymously" %}
                                </label>
                            </div>
                        </div>
                    {% endif %}

                    {% if not user.is_authenticated %}
                        <div class="form-group">
                            <div class="g-recaptcha" data-sitekey="{{ recaptcha_public }}"></div>
                        </div>
                    {% endif %}

                    <div class="form-group">
                        <div id='message'></div>
                        <button type="submit" class="btn btn-primary" id="submit_add" disabled>{% trans "Send claim" %}</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


<script type="text/javascript">
    // To prevent insert duplicity   
    var places = {{places}}
    function get_name_by_id (org_id) {
        for (var i = places.length - 1; i >= 0; i--) {
            if (places[i].data === parseInt(org_id)){
                return places[i].value;
            }
        }
        return '{% trans "Name not found" %}'
    }
    function select_building (org_id) {
        $('#org_id').val(org_id);
        $('#organization_name').val(get_name_by_id(org_id));
    }

    var AddPage = {
        // 50 too much for testing        
        min_claim_text_len: 10,
        init: function (){
            $('#org_id').on('change', function(){
                AddPage.validate();
            });
            $('#claim_text').on('change', function(){
                AddPage.validate();
            });

            $('#organization_name').autocomplete({
                lookup: places,
                onSelect: function (suggestion) {
                    $('#org_id').val(suggestion.data);
                    AddPage.validate();
                }
            });

            $("#claim_form").submit(function(event){
                AddPage.show_processing();
                event.preventDefault();
                $.ajax({
                    type: "POST",
                    url: "{% url 'add_claim' %}",
                    data: $('#claim_form').serialize(),
                    statusCode: {
                        200: function (response) {
                            //
                        },
                        201: function (response) {
                            //
                        },
                        400: function (response) {
                            //
                        },
                        403: function (response) {
                            alert("{% trans 'Too much claims. Please wait an hour and try again.' %}");
                        }
                    },
                    success: function(data){
                        $('#message').html('{% trans "Thank you for your message." %}');
                        $('#claim_text').val('');
                        $('#servant').val('');
                        {% if not user.is_authenticated %}
                            grecaptcha.reset();
                        {% endif %}
                        AddPage.hide_processing();
                    }
                });
                return false;
            });

        },
        inputs_to_validate: [
            // $('#organization_name'),
            $('#claim_text'),
            $('#org_id'),
        ],
        show_processing: function (){
            $('#processing').show();
        },
        hide_processing: function (){
            $('#processing').hide();
        },
        validate: function (){
            // Organization name

            // We don't need to validate organization name,
            // it is not used on server side
            // Also, it could be emtpy

            // var organization_name = $('#organization_name').val();
            // for (var i = places.length - 1; i >= 0; i--) {
            //     if (organization_name == places[i].properties.NAME) {
            //         $('#organization_name').removeClass('incorrect');
            //         break;
            //     }
            //     $('#organization_name').addClass('incorrect');
            // };


            // Let's validate polygon id (:
            var org_id = $('#org_id').val();
            if (org_id.length < 0) {
                $('#org_id').addClass('incorrect');
                $('#org_id_error').html("Choose organization to claim");

            } else {
                $('#org_id').removeClass('incorrect');
            }
            AddPage.show_submit();


            // Claim text
            var claim_text = $('#claim_text').val();
            if (claim_text.length < AddPage.min_claim_text_len) {
                $('#claim_text').addClass('incorrect');
                $('#claim_text_error').html(AddPage.min_claim_text_len + " characters is minimum length of claim message");

            } else {
                $('#claim_text').removeClass('incorrect');
            }
            AddPage.show_submit();

        },
        is_valid: function (){
            for (var i = AddPage.inputs_to_validate.length - 1; i >= 0; i--) {
                if (AddPage.inputs_to_validate[i].hasClass('incorrect')) {
                    return false;
                }
            };
            return true;
        },
        show_submit: function (){
            if (AddPage.is_valid()) {
                $('#submit_add').prop('disabled', false);
            } else {
                $('#submit_add').prop('disabled', true);
            }
        },
    };

    $(document).ready(function() {

        var csrftoken = $.cookie('csrftoken');
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        // Main page logic
        AddPage.init();

    });

</script>


{% endblock %}