{% load staticfiles %}
{% load account %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>   
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href= "{% static "css/bootstrap.min.css" %}"  rel="stylesheet">
<link href= "{% static "css/general.css" %}"  rel="stylesheet">

<script src="{% static "js/jquery-1.11.3.min.js" %}"></script>
<script src="{% static "js/jquery.cookie.js" %}"></script>
<script src="{% static "js/jquery.autocomplete.min.js" %}"></script>
<link href= "{% static "css/gh-fork-ribbon.min.css" %}"  rel="stylesheet">

{% block head %}
{% endblock %}

</head>

<body>    

{% block content %}
{% endblock %}

{% block map %}
{% endblock %}

<div class="navbar-fixed-bottom row-fluid">
<!--       <div class="navbar-inner">
          <div class="container"><a href="https://github.com/autogestion/corruption_tracker" target="_blank">Powered by Corruption tracker</a>
        </div>
    </div> -->
    <div class="github-fork-ribbon-wrapper right-bottom">
        <div class="github-fork-ribbon">
            <a href="https://github.com/autogestion/corruption_tracker" target="_blank">Fork me on GitHub</a>
        </div>
    </div>    
</div>    
</body>

