{% load staticfiles %}
{% load account %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>   
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href= "{% static "css/bootstrap.min.css" %}"  rel="stylesheet">
<link href= "{% static "css/general.css" %}"  rel="stylesheet">

<script src="{% static "js/jquery-1.11.3.min.js" %}"></script>
<script src="{% static "js/jquery.cookie.js" %}"></script>
<script src="{% static "js/jquery.autocomplete.min.js" %}"></script>

<script type="text/javascript">
    var buildings = {{ buildings|default:"[]" }};
</script>
<script src="{% static "js/map_init.js" %}"></script>
<link href= "{% static "css/gh-fork-ribbon.min.css" %}"  rel="stylesheet">

{% block head %}
{% endblock %}

</head>

<body>    
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><img src="{% static "img/logo.png" %}" height="42" width="42"></a>
        </div>
        <ul class="nav navbar-nav">
            <li {% if page == 'home' %} class="active"{% endif %}><a href="{% url 'home' %}">{% trans "Corruption map" %}</a></li>
            <li {% if page == 'add_page' %} class="active"{% endif %}><a href="{% url 'add_page' %}">{% trans "Add claim" %}</a></li>
            <li {% if page == 'add_mobile' %} class="active"{% endif %}><a href="{% url 'add_mobile' %}">{% trans "Mobile version" %}</a></li>
            <li {% if page == 'about' %} class="active"{% endif %}><a href="{% url 'about' %}">{% trans "Who is here?" %}</a></li>

        </ul>

         <ul class="nav navbar-nav navbar-right">
            <li>
                <form action="{% url 'set_language' %}" method="post" id="language_selector">{% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}" />
                    <select name="language" onchange="this.form.submit()">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                                {{ language.name_local }} ({{ language.code }})
                            </option>
                        {% endfor %}
                    </select>
                </form>
            </li>
            {% if request.user.is_authenticated %}
                <li><a href="">{% user_display user %}</a></li>
                <li><a href="{% url 'account_logout' %}">{% trans "Logout" %}</a></li>
                {% else %}
                <li><a href="{% url 'account_signup' %}">{% trans "Register" %}</a></li>
            {% endif %}
        </ul>

        {% if not request.user.is_authenticated and not "/login" in request.get_full_path %}
            <form class='navbar-form navbar-right login' method='POST' action='/login/'>
                {% csrf_token %}
                <div class='form-group'>
                    <input id="id_login" type='text' class='form-control' name="username" placeholder='{% trans "Username" %}' /> 
                </div>
                <div class='form-group'>
                    <input id="id_password" type='password' class='form-control' name='password' placeholder='{% trans "Password" %}' />
                </div>
                {% if redirect_field_value %}
                    <input type="hidden" name="next" value="{{ next }}" />
                {% endif %}
                <button type='submit' class='btn btn-default'>{% trans "Login" %}</button>
            </form>
        {% endif %}

    </div>
</nav>


{% block content %}
{% endblock %}

{% block map %}
{% endblock %}

<div class="navbar-fixed-bottom row-fluid">
<!--       <div class="navbar-inner">
          <div class="container"><a href="https://github.com/autogestion/corruption_tracker" target="_blank">Powered by Corruption tracker</a>
        </div>
    </div> -->
    <div class="github-fork-ribbon-wrapper right-bottom">
        <div class="github-fork-ribbon">
            <a href="https://github.com/autogestion/corruption_tracker" target="_blank">Fork me on GitHub</a>
        </div>
    </div>    
</div>    
</body>

