{% extends "base.html" %}

{% block map %}
    {% load i18n %}
    <div class="container-fluid">

        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
        <script type="text/javascript">
            var app = angular.module("claimsApp", []).config(function($interpolateProvider) {
                    $interpolateProvider.startSymbol('{$');
                    $interpolateProvider.endSymbol('$}');
                });

            app.controller('ClaimsController', function($scope, $http) {
                $http({
                    url: "/get_claims/{{ org_id }}/limit=999/"
                }).success(function(data, status) {
                    console.log('Ok');
                    $scope.claims = data;
                    $scope.organization_name = data[0].organization_name;
                }).error(function(data, status) {
                    console.log('Can\'t get claims :(((( ');
                });
                $scope.to_csv = function(){
                    JSONToCSVConvertor($scope.claims, $scope.organization_name, true);
                }
            });

            <!--Stollen code-->
            <!--http://jsfiddle.net/hybrid13i/JXrwM/-->
            <!--escape replaced with encodeURI to support cyrylic symbols-->
            function JSONToCSVConvertor(JSONData, ReportTitle, ShowLabel) {
                //If JSONData is not an object then JSON.parse will parse the JSON string in an Object
                var arrData = typeof JSONData != 'object' ? JSON.parse(JSONData) : JSONData;

                var CSV = '';
                //Set Report title in first row or line
                CSV += ReportTitle + '\r\n\n';
                //This condition will generate the Label/Header
                if (ShowLabel) {
                    var row = "";
                    //This loop will extract the label from 1st index of on array
                    for (var index in arrData[0]) {
                        //Now convert each value to string and comma-seprated
                        row += index + ',';
                    }
                    row = row.slice(0, -1);
                    //append Label row with line break
                    CSV += row + '\r\n';
                }

                //1st loop is to extract each row
                for (var i = 0; i < arrData.length; i++) {
                    var row = "";
                    //2nd loop will extract each column and convert it in string comma-seprated
                    for (var index in arrData[i]) {
                        row += '"' + arrData[i][index] + '",';
                    }
                    row.slice(0, row.length - 1);
                    //add a line break after each row
                    CSV += row + '\r\n';
                }


                if (CSV == '') {
                    alert("Invalid data");
                    return;
                }

                //Generate a file name
                var fileName = "Report_for_";
                //this will remove the blank-spaces from the title and replace it with an underscore
                fileName += ReportTitle.replace(/ /g,"_");

                //Initialize file format you want csv or xls
                var uri = 'data:text/csv;charset=utf-8,' + encodeURI(CSV);

                // Now the little tricky part.
                // you can use either>> window.open(uri);
                // but this will not work in some browsers
                // or you will not get the correct file extension

                //this trick will generate a temp <a /> tag
                var link = document.createElement("a");
                link.href = uri;

                //set the visibility hidden so it will not effect on your web-layout
                link.style = "visibility:hidden";
                link.download = fileName + ".csv";

                //this part will append the anchor tag and remove it after automatic click
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
            }

        </script>

        <div class="row">
            <div class="col-md-12">
                <div ng-app="claimsApp">
                    <div ng-controller="ClaimsController">
                        <h3>
                            {% trans "Claims list for" %} {$ organization_name $}                            
                        </h3>
                        <small><a class="btn btn-default" href="#" ng-click="to_csv()">{% trans "Export to CSV" %}</a></small>
                        <div ng-model="claims" ng-repeat="claim in claims">
                        
                            <div class="claims_page_claim_block">
                                <div class="claims_page_claim_head">
                                    <div><b class="claims_page_line_name">{% trans "Servant" %}:</b> {$ claim.servant $}</div>
                                    <div><b class="claims_page_line_name">{% trans "Complainer" %}:</b> {$ claim.complainer $}</div>
                                    <div><b class="claims_page_line_name">{% trans "Claim type" %}:</b>{$ claim.claim_type $}</div>      
                                    <div><b class="claims_page_line_name">{% trans "Created" %}:</b> {$ claim.created $}</div>
                                </div>
                                <div class="claim_page_claim_text">{$ claim.text $}</div>                            
                            </div>
                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}