{% extends "base.html" %}
{% load staticfiles %}
{% load leaflet_tags %}

{% block head %}
    <title>Corruption map</title>
    {% leaflet_js %}  
    {% leaflet_css %}<!-- 
    <script src="http:///rawgithub.com/domoritz/leaflet-locatecontrol/gh-pages/dist/L.Control.Locate.min.js"</script>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="http:///rawgithub.com/domoritz/leaflet-locatecontrol/gh-pages/dist/L.Control.Locate.min.css" rel="stylesheet"> -->
{% endblock %}


{% block map %}
{% load i18n %}

<h5>{% trans "To check claims you should click on building on the map, or enter organization name in searchbox." %}</h5>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            {% leaflet_map "main" callback="main_map_init" %}
        </div>
        <div class="col-md-4">
            <h3>{% trans "Search" %}</h3>
            <div class="right_block">
                <div class="input-group">
                    <input type='search' id='polygon_id' placeholder='{% trans "Organization name" %}' class="form-control">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary" id="get_claims" href="javascript:" >{% trans "Search" %}</button>
                    </span>
                </div>
                <br><br>
                <div id="target"></div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">   
    $(document).ready(function () {      
        $("#get_claims").click(function() {          
            var polygon_id = $('#polygon_id').val();
            select_building(polygon_id);
        });

        $('#polygon_id').autocomplete({
            lookup: {{places}},
            onSelect: function (suggestion) {
                select_building(suggestion.data);
            }
        });

    });

    function select_building (polygon_id) {
        $.get("/get_claims/"  + polygon_id + "/", function(data) {
            $("#target").html(data.claims);

            var places = {{places}};
            for (var i = places.length - 1; i >= 0; i--) {
                if (places[i].data === polygon_id){
                    $('#polygon_id').val(places[i].value);
                    return;                    
                }
            };
        });
    }


</script>

{% endblock %}

