{% extends "base.html" %}

{% load staticfiles %}
{% load leaflet_tags %}
{% load i18n %}


{% block login_error %}
    <script type="text/javascript">
        var login_error = {{ login_error }}
    </script>
{% endblock login_error %}


{% block head %}

    <title>Corruption map</title>
    
    <link href= "{% static "css/gh-fork-ribbon.min.css" %}"  rel="stylesheet">      
    
    <script src="{% static "js/jquery.autocomplete.min.js" %}"></script>

    <link href="{% static "css/w2ui-1.4.3.min.css" %}" rel="stylesheet" type="text/css" />  
    <script src="{% static "js/w2ui-1.4.3.min.js" %}" type="text/javascript"></script>    

    {% leaflet_js %}
    {% leaflet_css %}

    <script type="text/javascript">
        /* To prevent multiple inserts of this var lets keep it in global NS */
        var api_url = "{% url 'api-root' %}"
        var claim_types = {{claim_types}}
        var zoom_to = {{ zoom_to }}
        var places= []
    </script>
    <script src="{% static "js/ctracker_map_init.js" %}"></script>
    <script src="{% static "js/ctracker_map.js" %}"></script>
    


    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script type="text/javascript">
        {% if not user.is_authenticated %}
            var grecaptcha_reset = true
        {% else %}
            var grecaptcha_reset = false
        {% endif %}
    </script>   

{% endblock head %}

{% block body %}

    <!-- Map  -->
    {% leaflet_map "main" callback="main_map_init" %}

    <!-- Right popup (will be removed)-->
    <div class="col-md-3 map_popup" id="float_block">
        {% if test_alarm %}<p style="color:red; padding-top: 5px; padding-left:15px;">
        УВАГА! Ресурс працює в тестовому режимі. Усі П.І.Б. посадовців уявні, співпадіння випадкові.</p> {% endif %}
    </div>

    <!-- Footer -->
    <div class="navbar-fixed-bottom row-fluid">
        <div class="github-fork-ribbon-wrapper right-bottom hidden-xs">
            <div class="github-fork-ribbon">
                <a href="https://github.com/autogestion/corruption_tracker" target="_blank">{% trans "Fork me on GitHub" %}</a>
            </div>
        </div>    
    </div>

    <!-- Claim templates and modals -->
    {% include "modals/claims_modal.html" %}
    {% include "modals/add_objects_modal.html" %}
    {% include "modals/services_modal.html" %}
  
{% endblock body %}