{% load staticfiles %}
{% load leaflet_tags %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">

<head>   
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{% static "img/favicon.ico" %}"/>
    <title>Corruption map</title>

    <link href= "{% static "css/bootstrap.min.css" %}"  rel="stylesheet">
    <link href= "{% static "css/gh-fork-ribbon.min.css" %}"  rel="stylesheet">

    <script src="{% static "js/jquery-1.11.3.min.js" %}"></script>   
    <script src="{% static "js/jquery.cookie.js" %}"></script>
    <script src="{% static "js/jquery.autocomplete.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>  

    <link href="{% static "css/w2ui-1.4.3.min.css" %}" rel="stylesheet" type="text/css" />  
    <script src="{% static "js/w2ui-1.4.3.min.js" %}" type="text/javascript"></script>    

    {% leaflet_js %}
    {% leaflet_css %}

    <script type="text/javascript">
        /* To prevent multiple inserts of this var lets keep it in global NS */
        var api_url = "{% url 'api-root' %}"
        var claim_types = {{claim_types}}
        var zoom_to = {{ zoom_to }}
        var places= []
        var login_error = {{ login_error }}
    </script>
    <script src="{% static "js/ctracker_map_init.js" %}"></script>
    <script src="{% static "js/ctracker_claims.js" %}"></script>
    <script src="{% static "js/ctracker_main.js" %}"></script>

    <link href= "{% static "css/base.css" %}"  rel="stylesheet">

    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script type="text/javascript">
        {% if not user.is_authenticated %}
            var grecaptcha_reset = true
        {% else %}
            var grecaptcha_reset = false
        {% endif %}
    </script>   
</head>

<body>

    <!-- Navigation -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><img src="{% static "img/logo.jpg" %}"></a>           
        </div>
        <ul class="nav navbar-nav">
            <!-- <li {% if page == 'single' %} class="active"{% endif %}><a href="{% url 'single' %}">{% trans "Map" %}</a> </li> -->
            <li><a href="#" data-toggle="collapse" data-target=".navbar-collapse.in" id="about-btn">
                <i class="fa fa-question-circle white"></i>&nbsp;&nbsp;{% trans "Who is here?" %}</a></li>
           
            <li class="dropdown">
                <a id="toolsDrop" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-globe white"></i>&nbsp;&nbsp; {% trans "Tools " %}<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="api/docs" target="_blank">&nbsp;&nbsp;{% trans "API Docs" %}</a></li>
                    <li class="divider hidden-xs"></li>
                    {% if request.user.is_authenticated %}
                        <li><a><i class="fa fa-user"></i>&nbsp;&nbsp; {{ user.get_full_name|default:user.username }}</a></li>
                        <li><a href="{% url 'logout' %}">&nbsp;&nbsp;{% trans "Logout" %}</a></li>
                    {% else %}                 
                        <li><a href="#" data-toggle="collapse" data-target=".navbar-collapse.in" id="login-btn">
                            <i class="fa fa-user"></i>&nbsp;&nbsp;{% trans "Login" %}</a></li>
                        <li><a href="#" data-toggle="collapse" data-target=".navbar-collapse.in" id="register-btn">
                            <i class="fa fa-user"></i>&nbsp;&nbsp;{% trans "Register" %}</a></li>
                    {% endif %}
                    <li class="divider hidden-xs"></li>
                    <li>
                        <form action="{% url 'set_language' %}" method="post" id="language_selector">{% csrf_token %}
                            <input name="next" type="hidden" value="{{ redirect_to }}" />
                            <select name="language" onchange="this.form.submit()">
                                {% get_current_language as LANGUAGE_CODE %}
                                {% get_available_languages as LANGUAGES %}
                                {% get_language_info_list for LANGUAGES as languages %}
                                {% for language in languages %}
                                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                                        {{ language.name_local }} ({{ language.code }})
                                    </option>
                                {% endfor %}
                            </select>
                        </form>
                    </li>                        
                </ul>
            </li>
        </ul>
    </div>
  

        <!-- Map  -->
        {% leaflet_map "main" callback="main_map_init" %}
    <!-- <div id="container">        


        <div id="sidebar">
            <div class="sidebar-wrapper"> -->
                <!-- <div class="panel panel-default" id="features"> -->
                <!-- Right popup -->
                <div class="col-md-3 map_popup" id="float_block">
                    {% if test_alarm %}<p style="color:red; padding-top: 5px; padding-left:15px;">
                    УВАГА! Ресурс працює в тестовому режимі. Усі П.І.Б. посадовців уявні, співпадіння випадкові.</p> {% endif %}      
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#addclaim">{% trans "Add claim" %}</a></li>
                        <li><a data-toggle="tab" href="#addorg">{% trans "Add organization" %}</a></li>         
                    </ul>
                    <div id="processing">Processing...</div>

                    <div class="tab-content">
                        <div id="addclaim" class="tab-pane in active">                
                            <form role="form" id='claim_form' class="forms_padding">
                                {% csrf_token %}         
                                <div class="form-group">
                                    <input type='search' id='organization_name' 
                                    placeholder='{% trans "Type organization name and select" %}' class="form-control">                        
                                </div>                                            
                                <div class="form-group" style="display:none">                      
                                    <div id='organization_error'></div>
                                    <input type="text" class="form-control" id="organization" name="organization" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="claim_type">{% trans "Choose Violation type" %}:</label>
                                    <select id="claim_type" name="claim_type">
                                      <option selected></option>                    
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="servant">{% trans "Servant name" %}:</label>
                                    <input type="text" class="form-control" id="servant" name="servant" required>
                                </div>
                                <div class="form-group">
                                    <label for="text">{% trans "Claim message" %}:</label>
                                    <div id='text_error'></div>
                                    <textarea type="text" class="form-control" id="text" name="text" required></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="bribe">{% trans "Bribe amount" %}:</label>
                                    <input type="text" class="form-control" id="bribe" name="bribe">
                                </div>

                                {% if user.is_authenticated %}
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="anonymously"> {% trans "Keep me anonymously" %}
                                            </label>
                                        </div>
                                    </div>
                                {% endif %}

                                {% if not user.is_authenticated %}
                                    <div class="form-group">
                                        <div class="g-recaptcha" data-sitekey="{{ recaptcha_public }}"></div>
                                    </div>
                                {% endif %}                       

                                <div class="form-group">
                                    <div id='message'></div>
                                    <button type="submit" class="button_red">{% trans "Send claim" %}</button>
                                </div>
                            </form>
                        </div>

                        <div id="addorg" class="tab-pane">
                            <form role="form" id='org_form' class="forms_padding">
                                {% csrf_token %}              
                                <div class="form-group">
                                    <label for="org_type">{% trans "Choose Organization type" %}:</label>
                                    <select id="org_type" name="org_type">
                                        {% for org_type in org_types %}
                                          <option value='{{org_type.type_id}}'>{{org_type.name}}</option>                    
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="centroid">{% trans "Centroid" %}:</label>
                                    <input type="text" class="form-control" id="centroid" name="centroid" placeholder='36.2543045,50.0075170' required>
                                </div>                
                                <div class="form-group">
                                    <label for="address">{% trans "Address" %}:</label>
                                    <input type="text" class="form-control" id="address" name="address" placeholder='{% trans "Address" %}' required>
                                </div>
                                <div class="form-group">
                                    <label for="name">{% trans "Organization name" %}:</label>
                                    <input type="text" class="form-control" id="name" name="name" placeholder='{% trans "Organization name" %}' required>
                                </div>                      

                                <div class="form-group">
                                    <div id='message'></div>
                                    <button type="submit" class="btn btn-primary">{% trans "Send organization" %}</button>
                                </div>
                            </form>
                        </div>           
                    </div>
                </div>
                <!-- </div> -->
         <!--    </div> 
        </div> -->


        <!-- Footer -->
        <div class="navbar-fixed-bottom row-fluid">
            <div class="github-fork-ribbon-wrapper right-bottom hidden-xs">
                <div class="github-fork-ribbon">
                    <a href="https://github.com/autogestion/corruption_tracker" target="_blank">Fork me on GitHub</a>
                </div>
            </div>    
        </div>
    <!-- </div> -->






    <!-- ======            ======  Claim templates and modals  ====                ===== -->
    <div id="claim_template_for_org" class="popup_template">
        <div class='claim_icon'></div>
        <div class="claim_tempalte">
            <div class="complainer"><b>{% trans "Complainer" %}:</b> %complainer% </div>
            <div class="servant"><b>{% trans "Servant" %}:</b> <span>%servant%</span></div>
            <div class="claim_type"><b>{% trans "Claim type" %}:</b> <span>%claim_type%</span></div>
            <div class="bribe"><b>{% trans "Bribe amount" %}:</b> <span>%bribe%</span></div>
            <div class="claim"><b>{% trans "Claim text" %}:</b> <span>%text%</span></div>
            <div class="created"><b>{% trans "Created" %}:</b> <span>%created%</span></div>
            <hr>
        </div>
    </div>

    <div id="claim_template_for_user" class="popup_template">
        <div class='claim_icon'></div>
        <div class="claim_tempalte">
            <div class="organization"><b>{% trans "Organization" %}:</b> <span>%organization%</span></div>
            <div class="servant"><b>{% trans "Servant" %}:</b> <span>%servant%</span></div>
            <div class="claim_type"><b>{% trans "Claim type" %}:</b> <span>%claim_type%</span></div>
            <div class="bribe"><b>{% trans "Bribe amount" %}:</b> <span>%bribe%</span></div>
            <div class="claim"><b>{% trans "Claim text" %}:</b> <span>%text%</span></div>
            <div class="created"><b>{% trans "Created" %}:</b> <span>%created%</span></div>
            <hr>
        </div>
    </div>

    <div id="show_all_button_template" class="popup_template">       
        <button class="btn" onclick="w2ui_popup()">{% trans "Show all claims as table" %}</button>
    </div>


    <div class="modal fade" id="claimsModal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content  map_popup">
          <div class="modal-header">
            <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title"></h4>
          </div>
          <div class="modal-body">                
           </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <div class="modal fade" id="userclaimsModal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content  map_popup">
          <div class="modal-header">
            <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title"></h4>
          </div>
          <div class="modal-body">                
           </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" id="back_button">Back</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->



    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-sm">
        <div class="modal-content map_popup">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">{% trans "Login" %}</h4>
          </div>
          <div class="modal-body">
           <div id='login-error'></div>
           <br>
            <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Login with Facebook</a>
            <br><br>or
            <form id="login_form" method='POST' action='{% url 'login' %}'>
                {% csrf_token %}
                <fieldset>
                <div class="form-group">
                  <label for="name">{% trans "Username" %}:</label>
                  <input type="text" class="form-control" id="id_login" name="username">
                </div>
                <div class="form-group">
                  <label for="email">{% trans "Password" %}:</label>
                  <input type="password" class="form-control" id="id_password" name='password'>
                </div>
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
                <button type="submit" class="btn btn-primary">{% trans "Login" %}</button>                   
                </fieldset>           
            </form>
          </div>
          <div class="modal-footer">
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-sm">
        <div class="modal-content map_popup">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">{% trans "Register" %}</h4>
          </div>
          <div class="modal-body">
            <form id="signup_form">
              <fieldset>
                <div class="form-group">
                  <label for="name">{% trans "Username" %}:</label>
                  <input type="text" class="form-control" id="username" name="username">
                </div>
                <div class="form-group">
                  <label for="email">{% trans "Password" %}:</label>
                  <input type="password" class="form-control" id="password" name='password'>
                </div>                                
              </fieldset>            
            </form>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary" onclick="signup()">Register</button>              
          </div>
      <!--     <div class="modal-footer">
          </div> -->
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <div class="modal fade" id="aboutModal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content  map_popup">
          <div class="modal-header">
            <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Подолати корупцію в один клік.</h4>
          </div>
          <div class="modal-body">
                <p>Кожен громадянин України має важелі впливу на корупційну діяльність. Це - особиста відповідальність та публічність.</p>
                <p>Відповідальність спонукає зробити вибір підтримувати чи не підтримувати корупцію. А публічність нівелює прояви корупції, якщо вибір було зроблено на користь її подолання.</p>
                <p>Питання стоїть лише за інструментом, який поєднає особисте прагнення здолати корупцію в Україні з максимальним розголосом актів корупційної діяльності.</p>
                <p>Система є таким інструментом. Основний акцент у ній зроблено на можливості зафіксувати корупційну діяльність на місці її вчинення. Далі акцент зміщується у публічну сферу. Розголос набуває форми структурованої мапи корупції.</p>
                <p>Так, Система є найпростішим способом вести облік корупційної активності. А універсальність її даних відкриває можливість боротьби з корупцією на всіх рівнях: від рівня особистого невдоволення до рівня громадянського суспільства чи законодавчих ініціатив.</p>
                <p>А потрібно лише зробити один клік "Повідомити".</p>       
                <h3>Проекту потрібні</h3><ul><li>Javascript UI Developer</li><li>Mobile Developer (iOS, Android)</li><li>Та інші.</li></ul>
                <h3>Долучится до розробки можна</h3><ul>
                <li>на GitHub => <a href="https://github.com/autogestion/corruption_tracker" target="_blank">Corruption tracker</a></li>
                <li>у Facebook спільноті => <a href="https://www.facebook.com/activecorruptiontracking/" target="_blank">Система учёта коррупционной активности</a></li>
               </ul>
           </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  
</body>