# Build paths inside the project like this: os.path.join(BASE_DIR, ...)
import os

BASE_DIR = os.path.dirname(os.path.dirname(os.path.abspath(__file__)))



# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = 'very secret'

# This information should be obtained by Google
RECAPTCHA_ENABLED = False
RECAPTCHA_SECRET = ""
RECAPTCHA_PUBLIC = ""

# Uncomment this line at production server and point to place
# where static would be collected
#STATIC_ROOT = ''
MEDIA_ROOT = 'media'

# Database
# https://docs.djangoproject.com/en/1.8/ref/settings/#databases

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': os.path.join(BASE_DIR, 'db.sqlite3'),                      
        'USER': '',
        'PASSWORD': '',
        'HOST': '',
        'PORT': '',
    }
}